<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>审核发帖</title>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="zj" />

<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/theme.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}" />
<style type="text/css">
   .lilist {
    	list-style-type: none;
	}
</style>
</head>
<body>
<div class="row-fluid">
	<div class="widget widget-padding span12">
		<div class="widget-header" style="position:relative;padding-left:77px">
			<i class="icon-list-alt"></i>
			<h5>审核发帖</h5>
			<div style="position:absolute;right:15px;top:0;">
				<h5 th:text="${adminName}"></h5>
			</div>
		</div>
		<div class="widget-body">
			<div class="widget-forms clearfix">

				<form class="form-horizontal">
					<div class="control-group">
						<div class="controls">
							<input type="text" id="selectIfon" placeholder="标题" style="margin: 0px 0px 0px 3%;width: 40%;"/>
							<button class="btn btn-primary" type="button" onclick="selectInfo()">查询</button>
							<button class="btn" type="button" onclick="clearInfo()">清空</button>
							<button class="btn btn-success" type="button" onclick="goTop6()">轮播管理</button>
							<button class="btn btn-warning" type="button" onclick="goTab()">标签管理</button>
						</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
							<ul ></ul> 
						</div>
					</div>
				</form>
				
				<table class="table table-condensed table-hover">
					<thead>
						<tr>								
							<th>标题</th>
							<th>发表时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="infoList">
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="ctx" th:value="${#httpServletRequest.getContextPath()}" />
</body>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap2.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.knob.js}"></script>
<script type="text/javascript" th:src="@{/js/realm.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.slimscroll.min.js}"></script>
<script type="text/javascript">
var ctx = $('#ctx').val();

$(document).ready(function(){
	selectInfo();
});

function goInfo(id){
	window.location.href=ctx+"/adminer/Info/"+id+"/1";
}

function goTop6(){
	window.location.href=ctx+"/adminer/top6";
}

function goTab(){
	window.location.href=ctx+"/adminer/tabPage";
}

function clearInfo(){
	$("#selectIfon").val("");
}

function selectInfo(){
	$.ajax({
        type: 'POST',  
        contentType: 'application/json; charset=utf-8',
        url: ctx+'/adminer/selectList',
        data: JSON.stringify({
        	selectInfo:$.trim($("#selectIfon").val())
        }),
        dataType: 'json',
        success: function (msg) { 
        	var list = msg.list;
        	var temp = '';
	            $.each(list,function(k,v){	                  	
	            	temp +='<tr class="warning">'
	            		+'<td><strong>'+v.infoTitle+'</strong></td>'
	            		+'<td>'+v.createTime+'</td>'
	            		+'<td><button class="btn btn-primary" type="button" onclick="goInfo('+v.infoId+')">查看</button>     '
	            		+'</tr>'						
	            });
	            $('#infoList').html(temp);
        },  
    });
}
</script>
</html>